.homeUtils{
    text-align: center;
    padding-top: 40px;
    overflow: hidden;
    background: linear-gradient(180deg,#fefeff 5.1%,#f3f3f3 92.91%,#e6e6e6 105.1%);
    padding-left: 11%;
    padding-right: 11%;
    .homeUtilHeader{
        padding-bottom: 150px;
        z-index: 1;
        
        .homeUtilTitle{
            font-weight: 700;
            font-size: 30px;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;

        }
        .homeUtilDes{
            font-weight: 600;
            font-size: 24px;
            color: #575757;
            font-family: 'Poppins', sans-serif;

        }
    }
    .hoemUtilBody{
        
        position: relative;
        padding-bottom: 40px;
        .hoemUtilImage{
            width: 368px;
            position: absolute;
            top: -120px;
            right: 50%;
            transform: translateX(50%);
            
            
        }
        .swipeWrapper{
            display: flex;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
            text-align: center;
            
            .swipeSlide{
                width: 100%;
                // margin-right: 30px;
                scroll-snap-type: x mandatory;
                .imgSlide{
                    width: 134px;
                    margin: 0 auto;
                }
                .utilItemDes{
                    margin-top: 20px;
                    padding: 0 20px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.5;
                    text-align: center;
                    font-weight: lighter;

                }
            }
            
        }
    }
}

