@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Nanum+Gothic+Coding&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.categaryCourse{
   
    padding: 50px;
    background-color: #F2FDFD;
    padding-left: 11%;
    padding-right: 11%;

    .titleCategory{
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        
        .title_h1 {
            font-size: 28px;

            
        }
        .summary{
            width: 80%;
            margin: 0 auto;
            font-weight: lighter;
        }

    }
    .blockCategory{
        .itemTitle{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 30px;
            font-family: 'Roboto', sans-serif;
            
        }
        .courseItem{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 16px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
     
            
            .thcs{
                padding: 10px;
                background: #fff;
                box-shadow: 0 6px 15px rgba(203,204,218,.5);
                border-radius: 10px;
                cursor: pointer;
                font-family: 'Poppins', sans-serif;
                display: grid;
              
                a{
                    transition: all 0.25s;
    
                }
                a:hover{
                    transform: scale(1.05, 1.12);
                }
                .courseItemImg {
                    display: block;
                    width: 100%;
                }
              .courseItemBody{
                    padding-top: 5px;
                    text-align: justify;
                    font-size: 14px;
                    color: #686868;
                    line-height: 24px;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                }
                .courseItemButton{
                    
                    padding-top: 20px;
                    padding-bottom: 10px;
                    text-align: center;
    
                     .button1, .svg1{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #009E9D;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color:#009E9D ;
                        fill: #009E9D;
                      }
                    .button1::before, .svg::before{
                        background: #009E9D;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button1:hover, .svg:hover{
                        color: white;
                        background: #009E9D;
                        fill: white;
                        
                        
    
                    }
                    .button2, .svg2{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #56BB7E;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color: #56BB7E;
                        fill: #56BB7E;
                        
    
                    }
                    .button2::before, .svg2::before{
                        background: #56BB7E;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button2:hover, .svg2:hover{
                        color: white;
                        background: #56BB7E;
                        
                        
    
                    }
                    .button3, .svg3{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #F5B73B;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color: #F5B73B;
                        fill: #F5B73B;
                        
                        
    
                    }
                    .button3::before{
                        background: #F5B73B;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button3:hover{
                        color: white;
                        background: #F5B73B;
                        
                        
    
                    }
                    .button4, .svg4{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #F58552;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color:#F58552;
                        fill: #F58552;
                        
                        
    
                    }
                    .button4::before{
                        background: #F58552;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button4:hover{
                        color: white;
                        background: #F58552;
                        
                        
    
                    }
            }
         
            }
            .thcs:hover{
                transform: scale(1.05, 1.12);
            }
            
        }
        .courseBody{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 16px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 120px ;
            padding-right: 120px ;
    
            .thcs{
                padding: 10px;
                background: #fff;
                box-shadow: 0 6px 15px rgba(203,204,218,.5);
                border-radius: 10px;
                cursor: pointer;
                font-family: 'Poppins', sans-serif;
                display: grid;    
                a{
                    transition: all 0.25s;
    
                }
                a:hover{
                    transform: scale(1.05, 1.12);
                }  
                .courseItemImg {
                    display: block;
                    width: 100%;
                }
                .courseItemBody{
                    padding-top: 5px;
                    text-align: justify;
                    font-size: 14px;
                    color: #686868;
                    line-height: 24px;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;     
                }
                .courseItemButton{
                    
                    padding-top: 20px;
                    padding-bottom: 10px;
                    text-align: center;
    
                    .button5, .svg5{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #3BB3DA;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color:#3BB3DA;
                        fill: #3BB3DA;
                   }
                    .button5::before{
                        background: #3BB3DA;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button5:hover{
                        color: white;
                        background: #3BB3DA;
                    }
                    .button6, .svg6{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #8E91E4;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color:#8E91E4;
                        fill: #8E91E4;
                    }
                    .button6::before{
                        background: #8E91E4;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button6:hover{
                        color: white;
                        background: #8E91E4;
                      }
                    .button7, .svg7{
                        // display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 0.875rem;
                        padding: 5px 15px;
                        border-color: #D98791;
                        background: white;
                        border-radius: 4px;
                        background: transparent;
                        position: relative;
                        color:#D98791;
                        fill: #D98791;
                     }
                    .button7::before{
                        background: #D98791;
                        position: relative;
                        // inset: 1;
                        
                    }
                    .button7:hover{
                        color: white;
                        background: #D98791;
                     }
                }
          
            }    
           
        }
        
        @media (max-width: 768px){
            .categaryCourse .blockCategory {
                padding: unset;
            }
            }
    }
    
}

$background: #F2FDFD;
$lop6: #8E91E4;
$lop7:#D98791;
