.knowledgeView{
    padding: 50px 0;
    background-color: #F3F7F9;
    font-family: 'Poppins', sans-serif;
    .titleKnowledge{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: capitalize;
        padding-left: 11%;
        padding-right: 11%;
    }
    .blockKnowledge{
        display: flex;
        margin-left: -16px;
        padding-left: 11%;
        padding-right: 11%;
        .itemKnowledgePanel{
            padding-left: 16px;
            // padding-top: 16px;
            cursor: pointer;
            
            .itemKnowledge{
                background: #fff;
                border-radius: 15px;
                transition: transform .4s ease-in-out;
                overflow: hidden;
                .imageKnowledge{
                    overflow: hidden;
                    transition: all 1.5s ease;
                    
                }
                .imageKnowledge:hover{
                    transform: scale(1.15);
                }
                .infoKnowledge{
                    padding: 10px;
                    .nameKnowledge{
                        overflow: hidden!important;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        font-size: 14px;
                        min-height: 38px;
                        font-weight: bolder;
                    }
                    .desKnowledge{
                        min-height: 56px;
                        font-size: 12px;
                        margin: 10px 0;
                        min-height: 74px;
                        overflow: hidden!important;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        font-weight: lighter;
                    }
                }
            }

        }
        .itemKnowledge:hover{
            transform: translateY(-10px);
        }
        
    }
}